<%- include("./partials/head.ejs") %>
<link rel="stylesheet" href="/css/homepage.css">
<%- include("./partials/header.ejs") %>
<main class="homeQuote">
    <h1>Soon!!</h1>
    <h2>Soon!!</h2>
</main>
<%- include("./partials/footer.ejs") %>